html,body{
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  background-color: #343d46;
  font-family: 'Source Sans Pro', sans-serif;
}
*{
  transition: 0.1s;
}
a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
ul{
  list-style-type: none;
}
.sidebar{
  min-height: 100% !important;
  height:100% ;
  width:0;
  background-color:#4f5b66;
  display: inline-block;
  margin: 0;
  overflow-x: hidden;
  position: fixed;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.sidebarHide{
  width: 0%;
}
.sidebarShow{
  width: 10%;
}
.menu-item{
  align-items: left;
  padding:10px;
  margin: 0;
  width: 100%;
  display: inline-block;
  font-size: 17px;
  vertical-align: middle;
}
.menu-item > a{
  margin: 0 0 0 20px;;
  padding:5px;
  text-decoration: none;
  color: #f1f1f1;
  float: left;
  cursor: pointer;
}
.menu-item > a:hover{
  color: #454747;
}
.icon{
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  color: #fff;
}
.navbar{
  width: 100%;
  background-color: #3b68af;
  min-height: 50px;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
.nav{
  list-style: none;
  margin: 0 auto;
  padding : 5px;
  font-size: 20px;
}

div.options{
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 20px;
  font-size: 32px;
  color: #f1f1f1;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.container{
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.box{
  flex: 1 200px;
  margin:5px;
  padding:10px;
  border: 1px solid #000;
  text-align: center;
  height: 200px;
  color: #fff;
}
h1{
  background-color: #bdbdbd;
}
